# Ignore Python virtual environment
.venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore log files and temporary data
*.log

# Ignore generated images and output
output/
data/samples/edges_*.png
